.content {
    display: flex;
}

.photoBlock {
    padding: 10px;
}

.photo {
    width: 300px;
    height: 300px;
}

.contacts {
    margin-left: 15px;
}

/*.hover {*/
/*    display: none;*/
/*}*/

.info {
    padding: 10px;
    font-size: 30px;
}

/*.photo:hover .hover {*/
/*    display: block;*/
/*}*/