.form {
    margin: 0 auto;
    border: 2px solid grey;
    border-radius: 20px;
    width: 400px;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px grey;
}

.login {
    text-align: center;
    margin-top: 70px;
}

input, button {
    margin-top: 10px;
}

.error {
    border: 1px solid red;
    padding: 5px;
    color: red;
}
