.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem {
    padding: 10px;
}

.messages {
    padding: 10px;
}

.message {
    font-size: 25px;
}

.avatars {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
