.paginator {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.pageNumber {
    padding: 2px;
}

.pageNumber.selectedPage {
    font-weight: bold;
    background-color: lightblue;
}